{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    <title>Mom's Gallery</title>
  </head>
  <body>
    <div id="home">
      <h1><a style="color:black;" href="/">Mom's Gallery</a></h1>
    </div>
    <h2>새로운 게시물 작성</h2>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="save btn btn-block">Save</button>
    </form>
    </div>
  </body>
</html>
