#home {
  text-align: center;
  background-color: #ffffff;
  padding: 0.5cm;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btns {
  width: 300px;
  height: 50px;
  flex-wrap: wrap;
  margin-left: auto;
  align-content: center;
}
.post {
  margin: 0.5cm;
  padding: 0.5cm;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 5pt groove rgb(168, 166, 166);
  margin-bottom: 0.3cm;
}
.title {
  border-bottom: 2px solid;
}
.text {
  border: 1px dotted black;
  padding: 0.5cm;
  margin: 0.5cm;
}
img {
  max-width: 100%;
  height: auto;
}
.date {
  text-align: right;
  font-style: italic;
}
.author {
  border-bottom: 1px solid black;
  text-align: right;
  font-style: oblique;
}
.text_single {
  padding: 0.5cm;
  margin: 0.5cm;
}
.img_single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}
.comment {
  margin: 0;
  padding: 0.3cm;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.comment_content {
  margin: 1cm;
  padding: 0.3cm;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.text_comment {
  border: 1px solid gray;
}
.author_comment {
  text-align: right;
  font-style: inherit;
}
.CB {
  margin-left: 90%;
}
body {
  margin-left: 15%;
  margin-right: 15%;
}
@media (max-width: 480px) {
  body {
    margin-left: 1px;
    margin-right: 1px;
  }
}
